/* src/styles/About.css */

.sobre-mim-section {
  padding: 80px 5%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.timeline-card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  /* min-height removido para se adaptar ao conteúdo */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-left: 4px solid var(--primary-accent-color);

  /* ------ ANIMAÇÃO INICIAL (Invisível) ------- */
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, filter 0.8s ease-out,
    transform 0.8s ease-out;
}

/* Classe que será adicionada pelo React quando o elemento aparecer na tela */
.timeline-card.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.timeline-card h3 {
  font-size: 1.8rem;
  color: var(--primary-accent-color);
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.timeline-card h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: var(--primary-text-color);
}

.timeline-card p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ccc;
  text-align: justify;
}
